In [4]:
import psycopg2
# import config function 
import import_ipynb
from config import config
import pandas as pd

importing Jupyter notebook from config.ipynb
Requirement already satisfied: psycopg2 in /opt/app-root/lib/python3.8/site-packages (2.9.3)
WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the '/opt/app-root/bin/python3.8 -m pip install --upgrade pip' command.

In [5]:
# Drop previously created table named casing1
# read database configuration
params = config()
# connect to PostgreSQL datatbase
conn = psycopg2.connect(**params)
# create a cursor to execute SQL queries
cur = conn.cursor()
# execute DROP TABLE statement
cur.execute("DROP TABLE casing1")
print("Table dropped... ")

# commit your changes in the database
conn.commit()
# close the cursor and connection so the server can allocate resources to other requests
cur.close()
conn.close()

Table dropped...

In [7]:
# Create empty table named casing1 in PostgreSQl
# read database configuration
params = config()
# connect to PostgreSQL datatbase
conn = psycopg2.connect(**params)
print('Python connected to PostgreSQL!')
# create a new cursor
cur = conn.cursor()
# execute CREATE TABLE statement
cur.execute(""" 
CREATE TABLE casing1(
date_time VARCHAR(255),
pressure FLOAT(53));
""")
print('Dataset created in PostgreSQL')
# commit your changes to the database
conn.commit()

Python connected to PostgreSQL!
Dataset created in PostgreSQL

In [35]:
# Rename column names in csv file to match column names in table
# convert header into first row
# df=pd.read_csv('casing1.csv', header=None)
# df.columns=['date_time', 'pressure']
# save changes to csv file
# df.to_csv('casing1.csv',index=False)

In [8]:
# Copying values from .csv file into table casing1 in PostgresSQL
# read database configuration
params = config()
# connect to PostgreSQL datatbase
conn = psycopg2.connect(**params)
# create a new cursor
cur = conn.cursor()
sql = "COPY casing1 FROM STDIN DELIMITER ',' CSV HEADER"
csv_file_name = 'casing1.csv'
cur.copy_expert(sql, open(csv_file_name, "r"))
conn.commit()

In [10]:
def create_pandas_table(sql_query, database = conn):
    """ takes in a PostgreSQL query and outputs a pandas dataframe"""
    table = pd.read_sql_query(sql_query, database)
    return table

In [11]:
casing1_df = create_pandas_table("SELECT date_time, pressure FROM casing1")
casing1_df

           date_time    pressure
0    8/21/2016 10:00  168.800003
1    8/21/2016 13:00  169.899994
2    8/21/2016 16:00  171.100006
3    8/21/2016 19:00  169.399994
4    8/21/2016 22:00  168.800003
..               ...         ...
348   10/2/2016 6:00  166.500000
349   10/2/2016 9:00  149.899994
350  10/2/2016 11:00  159.600006
351  10/2/2016 14:00  145.300003
352  10/2/2016 15:00  169.399994

[353 rows x 2 columns]